@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

@-webkit-keyframes example {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes example {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.btn {
  padding: 6px 15px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.btn-big {
  position: relative;
  width: 100%;
  color: white;
  background-color: #efb541;
}

.btn-big:hover {
  background-color: #7d3210;
}

.text {
  font-size: 0.7rem;
}

.text-whiteBg {
  color: #001858;
  font-weight: 700;
}

.text-greenBg {
  color: white;
}

.text-small {
  font-size: 0.6rem;
}

.text-error {
  color: #c9312e;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result {
  color: #001858;
  font-weight: 700;
  font-size: 28px;
}

input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 1pt grey;
          box-shadow: 0px 0px 0px 1pt grey;
}

.input-text {
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 6px 20px;
  max-width: 100%;
  font-weight: 700;
  text-align: right;
  color: #7d3210;
  margin-top: 5px;
  border: 1px solid #6fa1d0;
}

.input-text.default {
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

.input-text:focus {
  -webkit-box-shadow: 0px 0px 3px 2pt #efb541;
          box-shadow: 0px 0px 3px 2pt #efb541;
}

.input-text.error {
  -webkit-box-shadow: 0px 0px 3px 2pt #c9312e;
          box-shadow: 0px 0px 3px 2pt #c9312e;
}

.input-text::-webkit-outer-spin-button, .input-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-text[type="number"] {
  -moz-appearance: textfield;
}

svg {
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 18px;
  pointer-events: none;
}

path {
  fill: #7d3210;
}

body {
  background-color: #6fa1d0;
  margin-top: 40px;
}

.logo {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.6rem;
  color: #001858;
}

.app-background {
  background-color: white;
  margin-top: 30px;
  border-radius: 30px 30px;
  padding: 40px 30px;
}

.app-background__green {
  background-color: #6fa1d0;
  padding: 30px 20px;
  border-radius: 10px;
  opacity: 0;
  -webkit-animation: example 1s 0.2s forwards ease-in-out;
          animation: example 1s 0.2s forwards ease-in-out;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.container {
  max-width: calc(375px - 40px);
  margin: auto;
  opacity: 0;
  -webkit-animation: example 0.6s 0s forwards ease-in-out;
          animation: example 0.6s 0s forwards ease-in-out;
}

.container-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (48%)[2];
      grid-template-columns: repeat(2, 48%);
  grid-gap: 0px 15px;
}

.component-container {
  margin-bottom: 25px;
  position: relative;
}

@media (min-width: 1280px) {
  .logo {
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
  }
  .app-background {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    border-radius: 30px;
  }
  .app-background__green {
    width: 50%;
    padding: 50px 40px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1110px;
  }
  .container-buttons {
    -ms-grid-columns: (31.2%)[3];
        grid-template-columns: repeat(3, 31.2%);
  }
  .container-left {
    width: 46%;
  }
  .container-tips {
    margin: 40px 0px;
  }
  .result {
    font-size: 40px;
  }
  .input-text {
    width: 100%;
  }
  .btn-big {
    top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */