<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Tip Calculator App</title>
  </head>
  <body>
    <h1 class="logo">SPLI<br />TTER</h1>

    <div id="app" class="app-background">
      <!-- App -->
      <div class="container">
        <div class="component-container">
          <p class="text text-whiteBg">Bill</p>
          <!-- Dollar Icon -->
          <input type="text" class="input-text" v-model.number="bill" />
        </div>

        <div>
          <!-- Select Tip -->
          <p class="text text-whiteBg">Select Tip %</p>
          <div class="container-buttons">
            <button
              v-for="(button, key, i) in numbers"
              @click="calculateTip(button)"
              class="btn btn-small"
              :key="i"
            >
              {{button}}%
            </button>
            <input
              type="type"
              @keyup="custom(customValue)"
              class="input-btn"
              placeholder="Custom"
              v-model="customValue"
            />
          </div>
        </div>

        <div class="component-container">
          <p class="text text-whiteBg">Number of People</p>
          <!-- Person Icon -->
          <input type="text" class="input-text" v-model.number="people" />
        </div>

        <section class="app-background__green">
          <!-- Details -->

          <div class="flex">
            <!-- Tip Amount -->
            <div>
              <p class="text text-greenBg">Tip Amount</p>
              <p class="text-small text-whiteBg">/ person</p>
            </div>
            <p class="result">${{tipamount}}</p>
            <!-- Result -->
            <!-- Calcula el Tip del Bill, y lo divide entre la
            People -->
          </div>

          <div class="flex">
            <!-- Total -->
            <div>
              <p class="text text-greenBg">Total</p>
              <p class="text-small text-whiteBg">/ person</p>
            </div>
            <p class="result">${{total}}</p>
            <!-- Result -->
            <!-- Calcula lo que tiene que pagar cada Persona, y le
            suma el Tip ya calculado anteriormente -->
          </div>

          <button @click="reset" class="btn btn-big">RESET</button>
          <!-- RESET button -->
        </section>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data() {
          return {
            bill: "0",
            numbers: [5, 10, 15, 25, 50],
            customValue: "",
            people: "0",
            tipamount: "0.00",
            total: "0.00",
          };
        },
        methods: {
          calculateTip(button) {
            //AGREGAR UN IF PARA QUE NO SE MANDE SIN INFO
            if (
              this.bill != 0 &&
              this.people != 0 &&
              this.bill != NaN &&
              this.people != NaN
            ) {
              // divide entre las personas
              const billPerPerson = this.bill / this.people;
              // le saca el porcentaje
              const tip = (billPerPerson * button) / 100;
              // Suma las dos cantidades y lo pone como total
              const tipTotal = tip + billPerPerson;

              // le agrega toFixed
              this.tipamount = tip.toFixed(2);
              this.total = tipTotal.toFixed(2);
            }
          },
          reset() {
            this.bill = "0";
            this.people = "0";
            this.tipamount = "0.00";
            this.total = "0.00";
          },
          custom(customValue) {
            if (customValue != NaN) {
              this.calculateTip(customValue);
            }
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
